

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,400;1,600&family=Montserrat:wght@200&family=Prata&display=swap');
body {
    background-color: rgb(1, 7, 12);
    color: rgb(66, 16, 214);
    font-family: 'Nunito', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
}

h1{
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-style: bold;
   font-size: 7ch;
}


#bingo-container {
    border-style: solid;
    border-width: 3px;
    border-color: #4a4a4a;
    padding: 12px;
    border-radius: 8px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    
}
.ball {
    flex-wrap: wrap;
    background-color:  solid 3px #557794ac;
    display: inline-block;
    width: 10%;
    min-height: 64px;
    text-align: center;
    padding-top: 32px;
    font-size: x-large;
    border-color: #7794ac;
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.ball.selected {
    border-color: rgb(55,204, 140, 67);
    background-color: rgb(214, 148, 62);
}

#user-container {
    border-style: solid;
    border-width: 3px;
    border-color: #4a4a4a;
    padding: 12px;
    border-radius: 8px;
    align-items: center;
   flex-wrap: wrap;
    width: auto;
    height: 5%;
    margin-bottom: 5ch;
}

button {   height: 32px;
    background-color: #550f0f0f;
    border: solid 3px  #4a4a4a;
    color: rgb(66, 16, 214);
    padding: 8px;
    border-radius: 3px;
    font-size: xx-large;
    padding: 2ch;
    margin-bottom: 1ch;
    display: flex;
    font-family: 'Nunito', sans-serif;


}
